body {
    background-color: white;
}

.bottom-sheet__content {
    color: #000;
    height: 60vh !important;
}



h2 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #1f2937; /* text-gray-800 */
  margin-bottom: 1rem;
}


/* Global scrollbar styling for the entire app */
* {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #aaa transparent; /* Thumb and track colors */
}

*::-webkit-scrollbar {
  width: 6px; /* WebKit Browsers */
  height: 6px; /* Horizontal scrollbar height */
}

*::-webkit-scrollbar-thumb {
  background: #aaa; /* Thumb color */
  border-radius: 3px; /* Rounded edges */
}

*::-webkit-scrollbar-thumb:hover {
  background: #888; /* Thumb color on hover */
}

*::-webkit-scrollbar-track {
  background: transparent; /* Transparent track */
}
